/* Copy buttons */
button.copybtn {
  padding: 0px 10px 0px 10px;
  height: 100%;
  max-height: 2em;
  position: absolute;
  right: -1px;
  top: 0px;
  background-color: rgb(238, 238, 238);
}

div.highlight .copybtn {
    opacity: 1;
}
div.highlight {
    position: relative;
}
